/*regole generiche*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*contenitore per centrare sezioni*/
.center-cont {
  width: 90%;
  margin: 0 auto;
}

/*contenitore di colonne in float*/
.row::after {
  display: table;
  content: "";
  clear: both;
}

/* navigationbar */
nav {
  width: 100%;
  height: 80px;
  background: white;
  /* position: fixed; */
  /* z-index: 999; */
}

/* contenitore per centrare navbar*/
.center-cont-nav {
  width: 70%;
  margin: auto;
}

#helbiz-logo {
  width: 90px;
  height: auto;
  float: left;
  margin: 28px 28% 0 0;
}

.nav-list li a {
  color: black;
  font-size: 12px;
  font-family: helvetica;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 80px;
  float: left;
  padding-right: 4%;
}

.language-list li a {
  padding-right: 1%;
}

/*header*/
header {
  background-image: url("immagini/header-bg.jpg");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 5%;
}

.head-text {
  color: white;
  font-family: helvetica;
  text-align: center;
  padding: 10% 0 10% 0;
}

.head-text h1 {
  font-size: 48px;
  font-weight: 700;
}

.head-text p {
  font-size: 18px;
  font-weight: 700;
  padding: 1% 0 2% 0;
}


.size {
  width: 180px;
  height: auto;
  margin: 0 2% 0 2%;
}

/*main*/
section {
  background: white;
}

/*regole generali per sezioni a 2 colonne*/
.row .col:first-child {
  margin-right: 10%;
}

.col {
  float: left;
  width: 45%;
  padding-top: 4%;
  padding-bottom: 3%;
  margin-bottom: 5%;
}

/* sezione1 a due colonne*/
.product {
  background: #FAFAFA;
  text-align: center;
}

.product h4, a {
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;
  line-height: 2;
  padding-top: 3%;
}

.img-product img {
  width: 250px;
  height: auto;
  padding-top: 2%;
}

/* sezione 2 */
.section2-bg {
  position: relative;
  height: 500px;
  background-image: url("immagini/helbizmilano.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 15%;
}

#phone-slide {
  width: 200px;
  height: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-image: url("immagini/monopattino.png");
  background-size: cover;
  background-position: center;
  border-radius: 38px;
}

#how-does {
  position: absolute;
  top: 110%;
  left: 10%;
  font-size: 30px;
  font-family: helvetica;
}

/* sezione 3*/
.section3-bg {
  background-image: url("immagini/bg-monopattino.png");
  background-size: cover;
  margin-bottom: 3%;
}

.col-smart {
  color: white;
  font-family: helvetica;
  text-align: center;
  width: 40%;
  padding: 10% 15% 10% 0%;
  float: right;
}

.col-smart h2 {
  font-size: 43px;
  font-weight: 600;
}

.col-smart p {
  font-size: 20px;
  font-weight: 400;
  padding: 3% 0 3% 0;
}

.col-smart a {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

/* sezione 4 a due colonne*/
.col-app-bg {
  background-image: url("immagini/helbiz-app.png");
  background-size: cover;
  background-position: center;
}

.col-find-bg {
  background-image: url("immagini/firenze.jpg");
  background-size: cover;
}

.padding-app-find {
  padding-bottom: 30%;
}

.col-text-style {
  font-family: helvetica;
  text-align: center;
  color: white;
}

.col-text-style h2 {
  font-size: 43px;
  font-weight: 600;
}

.col-text-style p {
  font-size: 20px;
  font-weight: 400;
  padding: 2% 0 2% 0;
}

.col-text-style a {
  color: white;
}

/*sezione 5*/
.section5-bg {
  position: relative;
  height: 450px;
  background-image: url("immagini/collage.jpg");
  margin-bottom: 3%;
}

.family {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3% 10% 3% 10%;
}

.family h2 {
  font-size: 40px;
  font-family: helvetica;
  text-align: center;
  padding-bottom: 4%;
}

.family li {
  float: left;
  padding-left: 7%;
  padding-right: 7%;
}

.family img {
  width: 30px;
  height: auto;
}






/*footer*/
footer {
  height: 500px;
  background: #000;
}
