/*regole generiche*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*contenitore per centrare sezioni*/
.center-cont {
  width: 90%;
  margin: 0 auto;
}

/*contenitore di colonne in float*/
.row::after {
  display: table;
  content: "";
  clear: both;
}

/* navigationbar */
nav {
  width: 100%;
  height: 80px;
  background: white;
  /* position: fixed; */
  /* z-index: 999; */
}

/* contenitore per centrare navbar*/
.center-cont-nav {
  width: 70%;
  margin: auto;
}

#helbiz-logo {
  width: 90px;
  height: auto;
  float: left;
  margin: 28px 28% 0 0;
}

.nav-list li a {
  color: black;
  font-size: 12px;
  font-family: helvetica;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 80px;
  float: left;
  padding-right: 4%;
}

.language-list li a {
  padding-right: 1%;
}

/*header*/
header {
  /* height: 550px; */
  background-image: url("immagini/header-bg2.jpg");
  background-size: cover;
  background-position: bottom;
}

.head-text {
  color: white;
  font-family: helvetica;
  text-align: center;
  padding: 10% 0 10% 0;
}

.head-text h1 {
  font-size: 50px;
  font-weight: 700;
}

.head-text p {
  font-size: 20px;
  font-weight: 700;
  padding: 1% 0 2% 0;
}


.size {
  width: 180px;
  height: auto;
  margin-left: 5%;
}







/*main*/

section {
  height: 100px;
  background: gray;
  border: solid 1px #000;
}

.col {
  height: 100px;
  border: solid 1px #000;
  background: green;
  float: left;
  width: 45%;
}

.row .col:first-child {
  margin-right: 10%;
}


/*footer*/
footer {
  height: 150px;
  background: #000;
}
